---
layout: default
---

<div class="page">

  <h1 class="mt-4 publication-title">{{ page.title }}</h1>

  <div class="publication-authors">
    {{ page.authors }}
  </div>

  <div class="publication-info">
    {{ page.publication }}, {{ page.year}}
  </div>

  {{ content }}

  <h2 id="downloads">Downloads</h2>
  <p>
  {% if page.pdf %}
    <a href="{{ "/" | relative_url }}/assets/docs/{{ page.pdf }}" target="_blank" rel="noopener noreferrer">PDF</a>
    &nbsp;&nbsp;
    {% endif %}
    {% if page.slides %}
    <a href="{{ "/" | relative_url }}/assets/docs/{{ page.slug }}_slides.pdf" target="_blank" rel="noopener noreferrer">Slides</a>
    &nbsp;&nbsp;
    {% endif %}
    {% if page.bib %}
    <a href="{{ "/" | relative_url }}/assets/docs/{{ page.slug }}.bib" target="_blank" rel="noopener noreferrer">BibTex</a>
    &nbsp;&nbsp;
    {% endif %}
    {% if page.doi %}
    <a href="{{ page.doi }}" target="_blank" rel="noopener noreferrer">DOI</a>
    {% endif %}
  </p>
</div>
